class App_Model_TableDataGateway_${1:GatewayName} extends App_Model_TableDataGateway
{

	protected $collectionName = '${2:collection}';

	protected $columns = array(
		'${3:field}' => null,${4}
		);

}

